<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grocemart">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GroceMart"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".activity.ForgotPasswordPage"
            android:theme="@style/Theme.GroceMart.NoActionBar" />
        <activity
            android:name=".activity.RegisterPage"
            android:theme="@style/Theme.GroceMart.NoActionBar" />
        <activity
            android:name=".activity.ForgotPassword"
            android:theme="@style/Theme.GroceMart.NoActionBar" />
        <activity
            android:name=".activity.SigninPage"
            android:theme="@style/Theme.GroceMart.NoActionBar" />
        <activity
            android:name=".activity.CheckoutPage"
            android:theme="@style/Theme.GroceMart.NoActionBar" />
        <activity
            android:name=".activity.SerachPage"
            android:theme="@style/Theme.GroceMart.NoActionBar" />
        <activity
            android:name=".activity.ShopDetailsPage"
            android:theme="@style/Theme.GroceMart.NoActionBar" />
        <activity
            android:name=".activity.MyOrderDetails"
            android:theme="@style/Theme.GroceMart.NoActionBar" />
        <activity
            android:name=".activity.WalletPage"
            android:theme="@style/Theme.GroceMart.NoActionBar" />
        <activity
            android:name=".activity.ProductShopDetails"
            android:theme="@style/Theme.GroceMart.NoActionBar" />
        <activity
            android:name=".activity.CartPage"
            android:theme="@style/Theme.GroceMart.NoActionBar" />
        <activity
            android:name=".activity.ChangePassword"
            android:theme="@style/Theme.GroceMart.NoActionBar" />
        <activity
            android:name=".activity.UserProfile"
            android:theme="@style/Theme.GroceMart.NoActionBar" />
        <activity
            android:name=".activity.AddressDetails"
            android:theme="@style/Theme.GroceMart.NoActionBar" />
        <activity
            android:name=".activity.UserDashboard"
            android:theme="@style/Theme.GroceMart.NoActionBar" />
        <activity
            android:name=".activity.SelectLocation"
            android:theme="@style/Theme.GroceMart.NoActionBar"></activity>
        <activity
            android:name=".activity.ShowLocation"
            android:label="@string/title_activity_show_location"
            android:theme="@style/Theme.GroceMart.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.GroceMart.NoActionBar"></activity>

        <activity
            android:name=".activity.SplashScreen"
            android:theme="@style/Theme.GroceMart.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>